{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
<h1>{{ hostname }}</h1>

<div class="example-wrapper">
    {{ form(form) }}
</div>
{% endblock %}
